.h1{
    color: rgb(0, 3, 5);
}


.Card{
    width: 450px;
    height:420px;
   margin-left: 20px;
   padding: 20px;
    border-radius: 30px;
    border: 1px solid #333;
    background-color: #dfc0b3;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
   
}