.h1{
    color: aliceblue;
}


.Card{
    width: 450px;
    height:420px;
   margin-left: 20px;
   padding: 20px;
    border-radius: 30px;
    background-color:rgb(138, 130, 131);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}