.detail{
    height: 100vh;
   background-image: url('./img/detalle.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
justify-content:center;

}

.card{
  width: 740px;
  position: relative;
  left: 200px;
}

.img{
    width: 90%;
    height: 300px
}

.h1{
    color: rgba(8, 7, 7, 0.932);
}

.boton{
    width: 100px;
    height: 25px;
   border-radius:20px;
   color:rgba(8, 7, 7, 0.932);
   background-color: aliceblue;
   border: 1px solid black;
}
.boton:hover{
    background-color:beige;
    color: black;
}

.loadingcen{
    display:flex;
    justify-content:center;
    align-items:center;
   position: relative;
   top: 400px;
}


