.input{ 
 padding: 50px;
 display: flex;
align-items: flex-start;
}



.order{
    margin-top: 50px;
    text-align: center;
     display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns:repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
}

