.input{ 
   
 padding: 50px;
 display: block;
 text-align: center;
}



.order{

    margin-top: 50px;
    text-align: center;
     display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns:repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr);

}

.boton{
   margin-right: 20px;
   
}

