.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    opacity: 0.8;
}

.input{
    border-radius: 10px;
    width: 300px;
    height: 25px;
    margin: 10px;
     background-color:#dfc0b3;;
     opacity: 0.8;
}

.inputBuscar{
    border-radius: 10px;
   padding: 6px;
}

