.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
 
}

.input{
    border-radius: 10px;
    width: 300px;
    height: 25px;
    margin: 10px;
     background-color:#faf6f6;;
     opacity: 0.8;
     border: 1px solid rgb(255, 251, 251);
}

.inputBuscar{
    width: 80px;
    border-radius: 10px;
   padding: 2px;
   background-color: #fff8f8;
   border: 1px solid rgb(255, 251, 251);
}

